.topnav{
  text-align: center;
}

.bio {
  text-align: center;
  padding-top: 5%;
}

.home {
  font-size: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e2e2e2;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 32px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

li a:hover {
  background-color: #d2d2d2;
}